//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// Federation page
.establishment-fine-detail {
  display: inline-block;
  color: #505a5f;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

#federation-page {
  margin-bottom: 15px;
}

#details.fed-panel {
  border: 1px hidden;
}

#schools.fed-panel {
  border: 1px hidden;
}

#changes.fed-panel {
  border: 1px hidden;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  float: right;
  font-size: 14px;
  padding: 0px;

}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#fed-button.govuk-button {
  margin-bottom: 0;
}

.modal2 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */

}

/* The Close Button */
.close2 {
  float: right;
  font-size: 14px;
  padding: 0px;

}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.establishment-data-download {
  float: right;
  margin-bottom: 25px;
  overflow: hidden;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
}

#fed-button2.govuk-button {
  margin-bottom: 0;
}

//saved-schools

.saved-schools {
  font-size: 13px;
}

.saved-schools-cell {
  font-size: 13px;
}

.saved-schools-p {
  font-size: 13px;
}

//Index page css

.home-hr {
  margin-top: 15px;
  border: none;
  height: 5px;
  color: #1d70b8;
  background-color: #1d70b8;
}

#index-page {
  padding-bottom: 5px;
}

#index-update {
  padding-top: 15px;
}

#index-following {
  padding-bottom: 15px;
}

//bulk upload css
//#bulk_upload_paginaton {
//  float: right;
// height: 50%;
//width:50%;
// margin-bottom: 0;
//}

#bulk_upload_paginaton {
  padding-left: 20%;
}

#errors-pagination {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.pagination_upload {
  overflow: hidden;
  position: relative;
  font-size: 16px;
  clear: both;
  min-height: 48px;
}

.pagination-p {
  float: left;
  margin-top: 0;
}

.pagination-links {
  display: flex;
  list-style-type: none;
  position: absolute;
  right: 0;
  margin-bottom: 0;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  overflow: hidden;
}

.pagination-a {
  display: block;
  min-width: 28px;
  margin-bottom: 12px;
  padding: 0 3px 0 3px;
}

.go-nowhere {
  display: block;
  min-width: 28px;
  margin-bottom: 12px;
  padding: 2px 3px 0 3px;
}

.download-info {
  display: inline;
  justify-content: space-between;
}

#download-title {
  font-size: 14px;
}

#clear_all {
  margin-left: 20px;
}

#title_checkbox {
  margin-bottom: 0;
}

#title_checkbox2 {
  margin-bottom: 0;
}



#establishment.download_tabs {
  border: 1px hidden;
}

#schedule_extracts.download_tabs {
  border: 1px hidden;
}

#download_paragraph {
  margin-bottom: 0;
  padding-bottom: 0;
}

#download_button {
  margin-top: 30px;
  margin-bottom: 15px;
}

.govuk-radios__input {
  cursor: pointer;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 34px;
  height: 34px;
  margin: 0;
  opacity: 0;
}

.govuk-radios--small .govuk-radios__label {
  padding: 11px 15px 10px 1px;
  padding-left: 1px;
}

.govuk-radios--small .govuk-radios__item {
  min-height: 0;
  margin-bottom: 0;
  padding-left: 34px;
  float: left;
}

.gias-radio__item--bordered-filter {
  border: 2px solid #b1b4b6;
  border-bottom-color: rgb(177, 180, 182);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: calc(100% - 38px);
}


.govuk-radios--small .gias-conditional--bordered {
  border: 2px solid #b1b4b6;
  border-top-color: rgb(177, 180, 182);
  border-top-style: solid;
  border-top-width: 2px;
  border-top: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: 0;
}

.govuk-radios--small .gias-conditional--bordered .date-filters {
  border-left: 4px solid #b1b4b6;
  margin-left: 10px;
  padding-left: 10px;
}

//children care details

#children_care_details {
  margin-bottom: 0;
  padding-bottom: 0;
}

#urn_colour {
  color: #505a5f;
  display: inline-block;
  margin-top: 15px;
}

#urn_colour2 {
  color: #505a5f;
  display: inline-block;
}

#download_location {
  margin-left: auto;
  float: right;
}

#ch_details.ch_tabs {
  border: 1px hidden;
}

#ch_governance.ch_tabs {
  border: 1px hidden;
}

#ch_links.ch_tabs {
  border: 1px hidden;
}

#ch_locations.ch_tabs {
  border: 1px hidden;
}

#ch_iebt.ch_tabs {
  border: 1px hidden;
}

#ch_changes.ch_tabs {
  border: 1px hidden;
}

#ch_helpdesk.ch_tabs {
  border: 1px hidden;
}

.greyed_out {
  background-color: #d8dadb;
}

#important-icon {
  width: 100%;
  height: 75%;
}

#important-icon2 {
  width: 99.5%;
  height: 75%;
}

.drop_downs_ch {
  width: 150%;
}

.question_mark {
  color: white;
  background-color: #1d70b8;
  border-color: #1d70b8;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
min-width: 20px;
min-height:15px;
line-height:15px;
}

