<!DOCTYPE html>
<html>
{% extends "layouts/main.html" %}
{% block pageTitle %}
Get Information about Schools
{% endblock %}

{% block header %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
<p class="govuk-body">We use some essential cookies to make this service work.</p>
<p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make
    improvements.</p>
{% endset %}

{{ govukCookieBanner({
ariaLabel: "Cookies on Get Information about Schools",
messages: [
{
headingText: "Cookies on Get Information about Schools",
html: html,
actions: [
{
text: "Accept analytics cookies",
type: "button",
name: "cookies",
value: "accept"
},
{
text: "Reject analytics cookies",
type: "button",
name: "cookies",
value: "reject"
},
{
text: "View cookies",
href: "#"
}
]
}
]
}) }}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
navigation: [
{
href: "http://localhost:3000/landing",
text: "Home"
},
{
href: "search",
text: "Search"
},
{
href: "download",
text: "Downloads",
active: true
},
{
href: "about",
text: "About"
},
{
href: "help",
text: "Help"
},
{
href: "news",
text: "News"
},
{
href: "sign-in",
text: "Sign in"
}
],
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block footer %}
{{ govukFooter({
meta: {
items: [
{
href: "#",
text: "Contact"
},
{
href: "#",
text: "Glossary"
},
{
href: "#",
text: "Guidance"
},
{
href: "#",
text: "Terms of use"
},
{
href: "#",
text: "Privacy"
},
{
href: "#",
text: "Cookies"
},
{
href: "#",
text: "Accessibility"
}
],
visuallyHiddenTitle: "Footer links"
}
}) }}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<body>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl" id="index-page">Data downloads and extracts</h1>
        </div>
    </div>

    <p class="govuk-body">The downloads are publicly available files of GIAS data and are updated daily. The downloads
        are available as
        zipped CSV files and users have the option to download all or individually selected files. The data can be
        historically downloaded from September 11, 2020 to the current day.</p>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text"> More information </span>
        </summary>
        <div class="govuk-details__text">
            The order of the files and order/inclusion of the data items in the files may change. Where this happens we
            will give users advance notice through the GIAS news page. We would advise using data item codes where
            available.
        </div>
    </details>

    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#establishment">
                    Establishment, group and governance data
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#schedule_extracts">
                    Scheduled extracts
                </a>
            </li>

        </ul>
        <div class="govuk-tabs__panel download_tabs" id="establishment">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            How would you prefer to be contacted?
                        </h1>
                    </legend>
                    <div id="contact-hint" class="govuk-hint">
                        Select the latest download files or historical download files
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="download" type="radio"
                                value="england">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                Download latest files (produced on 14 April at 11:30pm)
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact-2" name="download" type="radio" value="phone"
                                data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                Download historical files (produced on a past date)
                            </label>
                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="conditional-contact-2">
                            <div class="govuk-form-group">
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset" role="group"
                                        aria-describedby="passport-issued-hint">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                            <h3 class="govuk-heading-s">
                                                Select a date
                                            </h3>
                                        </legend>
                                        <div id="passport-issued-hint" class="govuk-hint">
                                            Files from 11 September 2020 to the present can be downloaded. <br>
                                            For example, 27 3 2019
                                        </div>
                                        <div class="govuk-date-input" id="passport-issued">
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label"
                                                        for="passport-issued-day">
                                                        Day
                                                    </label>
                                                    <input
                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                        id="passport-issued-day" name="passport-issued-day" type="text"
                                                        inputmode="numeric">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label"
                                                        for="passport-issued-month">
                                                        Month
                                                    </label>
                                                    <input
                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                        id="passport-issued-month" name="passport-issued-month"
                                                        type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label"
                                                        for="passport-issued-year">
                                                        Year
                                                    </label>
                                                    <input
                                                        class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                        id="passport-issued-year" name="passport-issued-year"
                                                        type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <p class="goveuk-body">Chose the file(s) you require by selecting the appropriate box(es) or using the select all
                    functionality and then select download selected files.</p>
            
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text"> Why are some of the files not available to download?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        If a file is unavailable for a selected date please try selecting the day before or the day after to get
                        information as close to the required date as possible.
                    </div>
                </details>
            
                <a class="govuk-link govuk-body" href="#">Select all files</a>
                <a class="govuk-link govuk-body" id="clear_all" href="#">Clear all selections</a>
            
            
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-m govuk-!-margin-top-4" id="title_checkbox">
                                Establishments
                            </h2>
                        </legend>
                        <p class="govuk-body govuk-!-font-weight-bold">
                            All establishment data
                        </p>
                        <p class="govuk-body">
                            These data files contain information about establishments that are proposed to open, open, open but
                            proposed to close and closed, excluding children’s centres and children’s centres linked sites.
                        </p>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="establishment" name="establishment" type="checkbox"
                                    value="british" aria-describedby="establishment-item-hint">
                                <label class="govuk-label govuk-checkboxes__label" for="waste">
                                    Establishment fields
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text govuk-body-xs">
                                            More info
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <p class="govuk-body-xs" id="download-info">Description: Contains all publicly available data
                                                fields for all establishment
                                                types, excluding children’s centres and children’s centres linked sites, with the status of
                                                proposed to open, open, open proposed to close and closed in GIAS. </br> File type and size:
                                                CSV
                                                63.85 MB&nbsp;&nbsp; Extract ID: ID3286&nbsp;&nbsp; Frequency: Daily&nbsp;&nbsp; Extract
                                                date: 14 April 2021 11:30pm
                                                </br> URL: <a class="govuk-link"
                                                    href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/edubasealldata20210414.csv</a>
                                            </p>
                                        </div>
                                      </details>
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="establishment-2" name="establishment" type="checkbox"
                                    value="irish">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                    Establishment links
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text govuk-body-xs">
                                            More info
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <p class="govuk-body-xs" id="download-info">Description: Contains details of the
                                                predecessor/successor link (as applicable) for all establishments, excluding children’s
                                                centres and children’s centres linked sites, in GIAS. </br> File type and size: CSV 1.95
                                                MB&nbsp;&nbsp;
                                                Extract ID: ID3287&nbsp;&nbsp; Frequency: Daily&nbsp;&nbsp; Extract date: 14 April 2021
                                                11:30pm
                                                </br> URL: <a class="govuk-link"
                                                    href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/links_edubasealldata20210414.csv</a>
                                            </p>
                                        </div>
                                      </details>
                                </label>
                            </div>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-4">
                                All open children’s centres data
                            </p>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="establishment-3" name="establishment" type="checkbox"
                                    value="other">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Children’s centre fields
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text govuk-body-xs">
                                            More info
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <p class="govuk-body-xs" id="download-info">Description: Contains all publicly available fields
                                                for
                                                all open children’s centres and children’s centres linked sites establishments in GIAS.
                                                </br> File type and size: CSV 4.19 MB&nbsp;&nbsp; Extract ID: ID3288&nbsp;&nbsp; Frequency:
                                                Daily&nbsp;&nbsp; Extract date: 14
                                                April 2021 11:30pm
                                                </br> URL: <a class="govuk-link"
                                                    href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/edubaseallacademiesandfree20210414.csv</a>
                                            </p>
                                        </div>
                                      </details>
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="establishment-4" name="establishment" type="checkbox"
                                    value="other">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    All open children's centres links
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text govuk-body-xs">
                                            More info
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <p class="govuk-body-xs" id="download-info">Description: Contains details of the predecessor
                                                link
                                                for all open children’s centres and children’s centres linked sites establishments in GIAS.
                                                </br> File type and size: CSV 0.64 MB&nbsp;&nbsp; Extract ID: ID3289&nbsp;&nbsp; Frequency:
                                                Daily Extract date: 14
                                                April 2021 11:30pm
                                                </br> URL: <a class="govuk-link"
                                                    href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/links_edubaseallacademiesandfree20210414.csv</a>
                                            </p>
                                        </div>
                                      </details>
                                </label>
                            </div>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-4">
                                All open state funded establishment data
                            </p>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="establishment-5" name="establishment" type="checkbox"
                                value="other">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                State-funded school fields
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                      <span class="govuk-details__summary-text govuk-body-xs">
                                        More info
                                      </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <p class="govuk-body-xs" id="download-info">Description: Contains all publicly available data fields
                                            for all open and open, but proposed to close state-funded establishments in GIAS.
                                            </br> File type and size: CSV 63.85 MB&nbsp;&nbsp; Extract ID: ID3286&nbsp;&nbsp; Frequency:
                                            Daily Extract date: 14
                                            April 2021 11:30pm
                                            </br> URL: <a class="govuk-link"
                                                href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/edubasealldata20210414.csv</a>
                                        </p>
                                    </div>
                                  </details>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="establishment-6" name="establishment" type="checkbox"
                                value="other">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                State-funded school links
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                      <span class="govuk-details__summary-text govuk-body-xs">
                                        More info
                                      </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <p class="govuk-body-xs" id="download-info">Description: Contains details of the predecessor link
                                            for
                                            all open and open, but proposed to close state-funded establishments in GIAS.
                                            </br> File type and size: CSV 1.95 MB&nbsp;&nbsp; Extract ID: ID3287&nbsp;&nbsp; Frequency:
                                            Daily Extract date: 14 April
                                            2021 11:30pm 
                                            </br> URL: <a class="govuk-link"
                                                href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/links_edubasealldata20210414.csv</a>
                                        </p>
                                    </div>
                                  </details>
                            </label>
                        </div>
                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-4">
                            All open academies and free schools data
                        </p>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="establishment-7" name="establishment" type="checkbox"
                                value="other">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                Academies and free school ﬁelds
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                      <span class="govuk-details__summary-text govuk-body-xs">
                                        More info
                                      </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <p class="govuk-body-xs" id="download-info">Description: Contains all publicly available fields for
                                            open and open, but proposed to close academies and free schools establishments in GIAS.
                                            </br> File type and size: CSV 4.19 MB&nbsp;&nbsp; Extract ID: ID3288&nbsp;&nbsp; Frequency:
                                            Daily Extract date: 14 April
                                            2021 11:30pm 
                                            </br> URL: <a class="govuk-link"
                                                href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/edubaseallacademiesandfree20210414.csv</a>
                                        </p>
                                    </div>
                                  </details>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="establishment-8" name="establishment" type="checkbox"
                                value="other">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                Academies and free school links
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                      <span class="govuk-details__summary-text govuk-body-xs">
                                        More info
                                      </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <p class="govuk-body-xs" id="download-info">Description: Contains details of the predecessor link
                                            for
                                            all open and open, but proposed to close academies and free schools establishments in GIAS.
                                            </br> File type and size: CSV 0.64 MB&nbsp;&nbsp; Extract ID: ID3289&nbsp;&nbsp; Frequency:
                                            Daily Extract date: 14 April
                                            2021 11:30pm
                                            </br> URL: <a class="govuk-link"
                                                href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/links_edubaseallacademiesandfree20210414.csv</a>
                                        </p>
                                    </div>
                                  </details>
                            </label>
                        </div>
                    </fieldset>
                </div>
            
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-m " id="title_checkbox2">
                                Groups
                            </h2>
                        </legend>
                        <p class="govuk-body">
                            Download the public record for group types.
                        </p>
                        <p class="govuk-body govuk-!-font-weight-bold">
                            All open and closed group data
                        </p>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="establishment" name="establishment" type="checkbox"
                                    value="british" aria-describedby="establishment-item-hint">
                                <label class="govuk-label govuk-checkboxes__label" for="waste">
                                    All group record
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text govuk-body-xs">
                                            More info
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <p class="govuk-body-xs" id="download-info">Description: Contains all publicly available fields
                                                for
                                                all open and closed groups in GIAS.
                                                </br>
                                                File type and size: CSV 63.85 MB&nbsp;&nbsp; Extract ID: ID3286&nbsp;&nbsp; Frequency: Daily
                                                Extract date: 14 April
                                                2021 11:30pm
                                                </br> URL: <a class="govuk-link"
                                                    href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/edubasealldata20210414.csv</a>
                                            </p>
                                        </div>
                                      </details>
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="establishment-2" name="establishment" type="checkbox"
                                    value="irish">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                    All group links records
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text govuk-body-xs">
                                            More info
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <p class="govuk-body-xs" id="download-info">Description: Contains the links between all
                                                establishments that are part of a group in GIAS.
                                                </br>
                                                File type and size: CSV 1.95 MB&nbsp;&nbsp; Extract ID: ID3287&nbsp;&nbsp; Frequency: Daily
                                                Extract date: 14 April
                                                2021 11:30pm
                                                </br> URL: <a class="govuk-link"
                                                    href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/links_edubasealldata20210414.csv</a>
                                            </p>
                                        </div>
                                      </details>
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="establishment-3" name="establishment" type="checkbox"
                                    value="other">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    All group records with links
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text govuk-body-xs">
                                            More info
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <p class="govuk-body-xs" id="download-info">Description: Contains the two files: “All group
                                                records” and “All group links records” in a zip file.
                                                </br>
                                                File type and size: CSV 1.95 MB&nbsp;&nbsp; Extract ID: ID3287&nbsp;&nbsp; Frequency: Daily
                                                Extract date: 14 April
                                                2021 11:30pm
                                                </br> URL: <a class="govuk-link"
                                                    href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/links_edubasealldata20210414.csv</a>
                                            </p>
                                        </div>
                                      </details>
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="establishment-4" name="establishment" type="checkbox"
                                    value="other">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    SAT and MAT membership history
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text govuk-body-xs">
                                            More info
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <p class="govuk-body-xs" id="download-info">Description: This file shows the movement of an
                                                academy
                                                or free school between single-academy trusts and multi-academy trusts and between
                                                multi-academy trusts.
                                                </br>
                                                File type and size: CSV 1.95 MB&nbsp;&nbsp; Extract ID: ID3287&nbsp;&nbsp; Frequency: Daily
                                                Extract date: 14 April
                                                2021 11:30pm
                                                </br> URL: <a class="govuk-link"
                                                    href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/links_edubasealldata20210414.csv</a>
                                            </p>
                                        </div>
                                      </details>
                                </label>
                            </div>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-4">
                                Open group data
                            </p>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="establishment-5" name="establishment" type="checkbox"
                                value="other">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                Academy sponsor and trust links
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                      <span class="govuk-details__summary-text govuk-body-xs">
                                        More info
                                      </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <p class="govuk-body-xs" id="download-info">Description: This file shows which school sponsor and
                                            single-academy trust or multi-academy trust an establishment is part of in GIAS.
                                            </br>
                                            File type and size: CSV 63.85 MB&nbsp;&nbsp; Extract ID: ID3286&nbsp;&nbsp; Frequency: Daily
                                            Extract date: 14 April 2021
                                            11:30pm
                                            </br> URL: <a class="govuk-link"
                                                href="#">https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/edubasealldata20210414.csv</a>
                                        </p>
                                    </div>
                                  </details>
                            </label>
                        </div>
                    </fieldset>
                </div>
            
                <button class="govuk-button" data-module="govuk-button">
                    Download selected files
                </button>
            </div>

        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden download_tabs" id="schedule_extracts">
            <p class="govuk-body">This is full data that can be found on Get information about schools. Not all files
                are date stamped, so it's a good idea to make a note of when you download the file.</p>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-body-s">File</th>
                        <th scope="col" class="govuk-table__header govuk-body-s">ID</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"> <a class="govuk-link" href="#">0, 30, 60 Day checks
                                file</a></td>
                        <td class="govuk-table__cell govuk-body-s">13519</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">Academy links</a></td>
                        <td class="govuk-table__cell govuk-body-s">2646</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">All monthly BBv5</a>
                        </td>
                        <td class="govuk-table__cell govuk-body-s">3346</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">All open academies and
                                free schools</a></td>
                        <td class="govuk-table__cell govuk-body-s">3286</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">All open academies and
                                free schools in MAT or SAT</a></td>
                        <td class="govuk-table__cell govuk-body-s">13559</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">All open children's
                                centres</a></td>
                        <td class="govuk-table__cell govuk-body-s">13507</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">All open schools</a>
                        </td>
                        <td class="govuk-table__cell govuk-body-s">13635</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">All open state funded
                                schools</a></td>
                        <td class="govuk-table__cell govuk-body-s">3280</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">All schools - for
                                staffs insight team</a></td>
                        <td class="govuk-table__cell govuk-body-s">3195</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">All available to
                                TDA</a></td>
                        <td class="govuk-table__cell govuk-body-s">2405</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">All data</a></td>
                        <td class="govuk-table__cell govuk-body-s">3180</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">All establishments
                                full</a></td>
                        <td class="govuk-table__cell govuk-body-s">13453</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">CCP file upload
                                service</a></td>
                        <td class="govuk-table__cell govuk-body-s">13592</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">EB all 2016</a></td>
                        <td class="govuk-table__cell govuk-body-s">13464</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">Edubase schools
                                Leicestershire Leicester</a></td>
                        <td class="govuk-table__cell govuk-body-s">13590</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">EduBaseBCCSchools</a>
                        </td>
                        <td class="govuk-table__cell govuk-body-s">13503</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">EdubaseMainDataNew</a>
                        </td>
                        <td class="govuk-table__cell govuk-body-s">3265</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">Free schools, studio
                                schools and UTCs</a></td>
                        <td class="govuk-table__cell govuk-body-s">3343</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">Headteacher list
                                extract</a></td>
                        <td class="govuk-table__cell govuk-body-s">13483</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">Headteachers</a></td>
                        <td class="govuk-table__cell govuk-body-s">13611</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">Import</a></td>
                        <td class="govuk-table__cell govuk-body-s">2392</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">Import</a></td>
                        <td class="govuk-table__cell govuk-body-s">13738</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">Leeds all
                                establishments</a></td>
                        <td class="govuk-table__cell govuk-body-s">13526</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link"
                                href="#">LeicestershireExtract</a></td>
                        <td class="govuk-table__cell govuk-body-s">13492</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">NAV school extract</a>
                        </td>
                        <td class="govuk-table__cell govuk-body-s">3342</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">NCTL weekly run</a>
                        </td>
                        <td class="govuk-table__cell govuk-body-s">13382</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">New schools</a></td>
                        <td class="govuk-table__cell govuk-body-s">13368</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">New schools NEW</a>
                        </td>
                        <td class="govuk-table__cell govuk-body-s">13431</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">OfstedFullExtract</a>
                        </td>
                        <td class="govuk-table__cell govuk-body-s">2472</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">OneData Edubase
                                Extract </a></td>
                        <td class="govuk-table__cell govuk-body-s">2905</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">portalupdate</a></td>
                        <td class="govuk-table__cell govuk-body-s">13390</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">SDA download</a></td>
                        <td class="govuk-table__cell govuk-body-s">2292</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">Sponsors list</a></td>
                        <td class="govuk-table__cell govuk-body-s">13533</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">test</a></td>
                        <td class="govuk-table__cell govuk-body-s">13733</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a class="govuk-link" href="#">VA schools</a></td>
                        <td class="govuk-table__cell govuk-body-s">3341</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

   

    <div class="govuk-grid-column-full">
        <a class="back-to-top-link" href="#top">
            <svg role="presentation" focusable="false" class="back-to-top-icon" xmlns="http://www.w3.org/2000/svg"
                width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg>
            Back to top
        </a>

    </div>

</body>
{% endblock %}

]
</html>