<!DOCTYPE html>
<html>
{% extends "layouts/main.html" %}
{% block pageTitle %}
Get Information about Schools
{% endblock %}

{% block header %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
<p class="govuk-body">We use some essential cookies to make this service work.</p>
<p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make
  improvements.</p>
{% endset %}

{{ govukCookieBanner({
ariaLabel: "Cookies on Get Information about Schools",
messages: [
{
headingText: "Cookies on Get Information about Schools",
html: html,
actions: [
{
text: "Accept analytics cookies",
type: "button",
name: "cookies",
value: "accept"
},
{
text: "Reject analytics cookies",
type: "button",
name: "cookies",
value: "reject"
},
{
text: "View cookies",
href: "#"
}
]
}
]
}) }}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
navigation: [
{
href: "http://localhost:3000/landing",
text: "Home",
active: true
},
{
href: "search",
text: "Search"
},
{
href: "download",
text: "Downloads"
},
{
href: "about",
text: "About"
},
{
href: "help",
text: "Help"
},
{
href: "news",
text: "News"
},
{
href: "sign-in",
text: "Sign in"
}
],
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<body>

  <a href="#" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl" id="index-page">Bulk upload</h1>
    </div>
  </div>

  <p class="govuk-body">Update records by uploading a XLSX file.</p>

 <!-- <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Help with preparing files 
      </span>
    </summary>
    <div class="govuk-details__text">
      For a step by step guide to prepare documents for bulk update please reference the <a class="govuk-link" href="#">Establishment bulk update guidance.</a>
    </div>
  </details>-->
  <h2 class="govuk-heading-m">Help with preparing files</h2>
  <p class="govuk-body">
    For a step by step guide to prepare documents for bulk update please reference the <a class="govuk-link" href="#">Establishment bulk update guidance.</a>
  </p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-m">Download template</h2>

  <p class="govuk-body">Please download the template using the link below. Then, provide or update the
    information in the template. Finally, upload the completed template using the 'Browse' button below. </p>

<div class="govuk-form-group">
  <p class="govuk-body"> <a class="govuk-link" href="#">template.xlsx</a></p>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="file-upload-1">
      Upload a file
    </label>
    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="govuk-heading-m ">
          Effective date (optional) 
        </h2>
      </legend>

      <div id="passport-issued-hint" class="govuk-hint">
        For example, 27 3 2007
      </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
              name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
              name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
              name="passport-issued-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  

  <div class="govuk-button-group">
    <a class="govuk-button" href="uploaded-file">Submit</a>
    <a class="govuk-link" href="#">Cancel</a>
  </div>

</div>
</div>

</body>
{% endblock %}

</html>