<!DOCTYPE html>
<html>
{% extends "layouts/main.html" %}
{% block pageTitle %}
Get Information about Schools
{% endblock %}

{% block header %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
<p class="govuk-body">We use some essential cookies to make this service work.</p>
<p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make
    improvements.</p>
{% endset %}

{{ govukCookieBanner({
ariaLabel: "Cookies on Get Information about Schools",
messages: [
{
headingText: "Cookies on Get Information about Schools",
html: html,
actions: [
{
text: "Accept analytics cookies",
type: "button",
name: "cookies",
value: "accept"
},
{
text: "Reject analytics cookies",
type: "button",
name: "cookies",
value: "reject"
},
{
text: "View cookies",
href: "#"
}
]
}
]
}) }}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
navigation: [
{
href: "http://localhost:3000/landing",
text: "Home",
active: true
},
{
href: "search",
text: "Search"
},
{
href: "download",
text: "Downloads"
},
{
href: "about",
text: "About"
},
{
href: "help",
text: "Help"
},
{
href: "news",
text: "News"
},
{
href: "sign-in",
text: "Sign in"
}
],
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<body>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" id="index-page">Error details</h1>

            <p class="govuk-body">The file has been uploaded. Errors have been identified and can be viewed in the table below. Please refer to the Office for National Statistics (ONS) bulk upload guidance to make sure the file was prepared correctly.
            </p>

            <p class="govuk-body">A summary of the errors can be downloaded here:  <a class="govuk-link" href="#">ONS bulk upload errors.xlsx</a>  
            </p>

            <p class="govuk-body">As noted if you produce an updated file with the corrections this can be uploaded 
            </p>

            </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                   

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">File details</caption>

                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">File name</th>
                        <td class="govuk-table__cell">ONSbulkuploaderrors.xlsx</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Processed records succesfully</th>
                        <td class="govuk-table__cell">320</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Proccessed records with errors</th>
                        <td class="govuk-table__cell">20</td>
                    </tr>
                </tbody>
            </table>

            

            <table class="govuk-table" id="errors-pagination">
                <caption class="govuk-table__caption govuk-table__caption--m">Error summary</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Record number</th>
                        <th scope="col" class="govuk-table__header">Error description</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">4</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">Incorrect format</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">16</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">Mandatory field missing</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">26</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">Incorrect format</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">37</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">Incorrect format</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">39</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">Mandatory field missing</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">56</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">ncorrect format</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">74</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">Incorrect format</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">91</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">Mandatory field missing</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">126</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">Incorrect format</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">162</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">Incorrect format</a></td>
                    </tr>
                </tbody>
            </table>
            <nav role="navigation" aria-label="Pagination" class="pagination_upload">
              <p class="govuk-body-s pagination-p">Showing 1-10 of <span id="list-count">320</span> establishments</p>
      
              <ul class="pagination-links">
      
      
                          <li><span class="go-nowhere numeric-pagination" aria-current="true" aria-label="Page 1, current page">1</span></li>
                          <li>
                              <a class="pagination-a" href="?SelectedTab=Establishments&amp;SearchType=Location&amp;SearchType=Location&amp;LocationSearchModel.Text=Newcastle-upon-Tyne%2c+Tyne+%26+Wear&amp;LocationSearchModel.AutoSuggestValue=54.977840423583984%2c+-1.6129200458526611&amp;OpenOnly=true&amp;b=1&amp;b=4&amp;startIndex=50&amp;Count=137" class="numeric-pagination" aria-label="Page 2">2</a>
                          </li>
                          <li>
                              <a class="pagination-a" href="?SelectedTab=Establishments&amp;SearchType=Location&amp;SearchType=Location&amp;LocationSearchModel.Text=Newcastle-upon-Tyne%2c+Tyne+%26+Wear&amp;LocationSearchModel.AutoSuggestValue=54.977840423583984%2c+-1.6129200458526611&amp;OpenOnly=true&amp;b=1&amp;b=4&amp;startIndex=100&amp;Count=137" class="numeric-pagination" aria-label="Page 3">3</a>
                          </li>
      
                      <li>
                          <a class="pagination-a" href="?SelectedTab=Establishments&amp;SearchType=Location&amp;SearchType=Location&amp;LocationSearchModel.Text=Newcastle-upon-Tyne%2c+Tyne+%26+Wear&amp;LocationSearchModel.AutoSuggestValue=54.977840423583984%2c+-1.6129200458526611&amp;OpenOnly=true&amp;b=1&amp;b=4&amp;startIndex=50&amp;Count=137" class="pagination-next" aria-label="Next page">Next &gt;&gt;</a>
                      </li>
      
              </ul>
      </nav>
         <!--   <nav class="govuk-pagination" role="navigation" aria-label="results" id="bulk_upload_paginaton">
                <div class="govuk-pagination__prev">
                  <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">Previous</span></a>
                </div>
                <ul class="govuk-pagination__list">
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                      1
                    </a>
                  </li>
                  <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 6">
                      6
                    </a>
                  </li>
                  <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 7" aria-current="page">
                      7
                    </a>
                  </li>
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 8">
                      8
                    </a>
                  </li>
                  <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 42">
                      42
                    </a>
                  </li>
                </ul>
                <div class="govuk-pagination__next">
                  <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                      <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg></a>
                </div>
              </nav> -->
              </div>
              </div>

            <div class="govuk-!-padding-bottom-4"></div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <div class="govuk-button-group">
                        <a class="govuk-button" href="bulk-upload">Upload a new file</a>
                      </div>


        </div>
    </div>

</body>
{% endblock %}

</html>