<!DOCTYPE html>
<html>
{% extends "layouts/main.html" %}
{% block pageTitle %}
Get Information about Schools
{% endblock %}

{% block header %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
<p class="govuk-body">We use some essential cookies to make this service work.</p>
<p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make
    improvements.</p>
{% endset %}

{{ govukCookieBanner({
ariaLabel: "Cookies on Get Information about Schools",
messages: [
{
headingText: "Cookies on Get Information about Schools",
html: html,
actions: [
{
text: "Accept analytics cookies",
type: "button",
name: "cookies",
value: "accept"
},
{
text: "Reject analytics cookies",
type: "button",
name: "cookies",
value: "reject"
},
{
text: "View cookies",
href: "#"
}
]
}
]
}) }}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
navigation: [
{
href: "http://localhost:3000/landing",
text: "Home",
active: true
},
{
href: "search",
text: "Search"
},
{
href: "download",
text: "Downloads"
},
{
href: "about",
text: "About"
},
{
href: "help",
text: "Help"
},
{
href: "news",
text: "News"
},
{
href: "sign-in",
text: "Sign in"
}
],
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<body>

    <a href="#" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" id="index-page">Submission status</h1>

            <p class="govuk-body">Your file has been uploaded and the data is now being processed. This may take a while.
            </p>

            <h2 class="govuk-heading-m">What happens next?</h2>
            <p class="govuk-body">Below shows the status of the file being uploaded.
               There are three status that will be shown:
                </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>	processing – the file is in the process of being uploaded.</li>
                <li>	processed successfully – the file has uploaded successfully and the data has been added without any errors. There is no further action required. </li>
                <li>	processed with errors – the file has not successfully uploaded and some or all of the data has not been added. Select view errors to review the errors and identify which data has not successfully uploaded. Corrections will need to be made and a file with the corrected data uploaded.</li>
            </ul>

            
            </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">File submitted</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Date and time submitted</th>
                        <th scope="col" class="govuk-table__header">File name</th>
                        <th scope="col" class="govuk-table__header">Processing status</th>
                        <th scope="col" class="govuk-table__header">Rows successful</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">21st February 2023 </br> 09:40am</td>
                        <td class="govuk-table__cell">template.xlsx</td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">PROCESSED
                                SUCCESSFULLY</strong></td>
                                <td class="govuk-table__cell">600</td>
                        <td class="govuk-table__cell">No action needed</td>
                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell">21st February 2023 </br> 09:40am</td>
                        <td class="govuk-table__cell">template.xlsx</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">PROCESSED WITH
                            ERRORS</strong></td>
                            <td class="govuk-table__cell">500</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="errors">View errors</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">21st February 2023 </br> 09:40am</td>
                        <td class="govuk-table__cell">template.xlsx</td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">PROCESSING</strong>
                        </td>
                        <td class="govuk-table__cell">Processing</td>
                        <td class="govuk-table__cell">Processing</td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>

            <div class="govuk-button-group">
                <a class="govuk-button" href="bulk-upload">Upload a new file</a>
              </div>

        </div>
    </div>

</body>
{% endblock %}

</html>